certifi==2025.6.15
charset-normalizer==3.4.2
coverage==7.9.1
flake8==7.3.0
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
mypy==1.16.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
requests==2.32.4
requests-toolbelt==1.0.0
types-requests==2.32.4.20250611
typing_extensions==4.14.0
urllib3==2.5.0
